{{- $lang := "en" -}}
{{- with .TransientPayload -}}
    {{- if eq (printf "%v" (index . "language")) "id" -}}{{- $lang = "id" -}}
    {{- else if eq (printf "%v" (index . "language")) "zh" -}}{{- $lang = "zh" -}}
    {{- end -}}
{{- end -}}
{{- if eq $lang "id" -}}
Permintaan pemulihan kata sandi untuk Klawu
{{- else if eq $lang "zh" -}}
Klawu 密码找回请求
{{- else -}}
Password recovery request for Klawu
{{- end -}}
