{{- $lang := "en" -}}
{{- with .Identity -}}
  {{- with .traits -}}
    {{- if eq (index . "language") "id" -}}{{- $lang = "id" -}}
    {{- else if eq (index . "language") "zh" -}}{{- $lang = "zh" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if eq $lang "id" -}}
Verifikasi email Klawu Anda
{{- else if eq $lang "zh" -}}
验证您的 Klawu 邮箱
{{- else -}}
Verify your Klawu email
{{- end -}}
