{{- $lang := "en" -}}
{{- with .Traits -}}
  {{- with index . "language" -}}
    {{- if eq . "id" -}}{{- $lang = "id" -}}
    {{- else if eq . "zh" -}}{{- $lang = "zh" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if eq $lang "id" -}}
Gunakan kode {{ .RegistrationCode }} untuk menyelesaikan pendaftaran akun Klawu
{{- else if eq $lang "zh" -}}
使用验证码 {{ .RegistrationCode }} 完成 Klawu 账户注册
{{- else -}}
Use code {{ .RegistrationCode }} to complete your Klawu account registration
{{- end -}}
