{{- $lang := "en" -}}
{{- with .Identity -}}
  {{- with .traits -}}
    {{- if eq (index . "language") "id" -}}{{- $lang = "id" -}}
    {{- else if eq (index . "language") "zh" -}}{{- $lang = "zh" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if eq $lang "id" -}}
Atur ulang kata sandi Klawu Anda
{{- else if eq $lang "zh" -}}
重置您的 Klawu 密码
{{- else -}}
Reset your Klawu password
{{- end -}}
